* {
    box-sizing: border-box;
}

html,
body {
    background: #7f9cb3;
}

h1 {
    margin: 0;
    padding: 0;
}

.custom-form {
    min-width: 300px;
    max-width: 50%;
    margin: auto;
    background: rgba(0, 0, 0, 0.15);
    padding: 5rem 5rem;
    margin: auto;
    border-radius: 5rem;
    background-color: #1b15dd;
    color: rgb(255, 255, 255);
    margin-top: 80px;
}

.custom-form input {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
    padding: 1rem;
    border: 0 none;
    background: #87b8da;
}

.custom-form button {
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #4ccc64;
    width: 100%;
    display: block;
    padding: 1rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
}